.topbar {
  background: #163f46;
  height: 52px;
  width: 100%;
  display: flex;
  align-items: center;
}

.topbar-container {
  width: 90%;
  max-width: 1400px;
  margin: 0 auto;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.topbar-left {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  cursor: pointer;
}

.topbar-left:hover .location-icon {
  transform: scale(1.08);
  transition: transform 0.2s ease;
}

.location-icon {
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: white;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #163f46;
  font-size: 14px;
}

.topbar-left p {
  color: #fff;
  font-size: 14px;
  margin: 0;
  font-weight: 400;
}

.topbar-center span {
  color: #fff;
  font-size: 14px;
  text-decoration: underline;
}

.topbar-right {
  display: flex;
  align-items: center;
  gap: 10px;
}

.topbar-right a {
  width: 34px;
  height: 34px;
  border-radius: 50%;
  background: white;

  display: flex;
  align-items: center;
  justify-content: center;

  color: #163f46;
  text-decoration: none;
  transition: 0.3s;
}

.topbar-right a:hover {
  background: #2eb7c5;
  color: white;
}

/* Tablet */

@media (max-width: 992px) {
  .topbar-center {
    display: none;
  }

  .topbar-left p {
    font-size: 12px;
  }
}

/* Mobile */

@media (max-width: 768px) {
  .topbar {
    display: none;
  }
}