.navbar-wrapper {
  position: absolute;
  top: 72px;
  left: 0;
  width: 100%;
  z-index: 100;
}

.navbar {
  width: 82%;
  height: 58px;

  margin: 0 auto;

  background: #fff;

  border-radius: 40px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 12px 0 20px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  width: 34px;
  height: 34px;
}

.logo h2 {
  margin: 0;

  font-size: 20px;
  font-weight: 500;

  color: #2ab7c5;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 38px;

  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-menu li {
  font-size: 14px;
  color: #444;
  cursor: pointer;
}

.appointment-btn {
  height: 42px;

  border: none;

  background: #2ab7c5;
  color: white;

  border-radius: 25px;

  display: flex;
  align-items: center;
  gap: 10px;

  padding-left: 22px;
  padding-right: 4px;

  font-size: 14px;
  cursor: pointer;
}

.arrow-circle {
  width: 34px;
  height: 34px;

  border-radius: 50%;

  background: #163f46;

  display: flex;
  align-items: center;
  justify-content: center;
}
.nav-links a {
  text-decoration: none;
  color: #1f2937; /* dark grey */
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #22c7d8;
}
.nav-menu li a {
  text-decoration: none;
  color: #444;
  font-size: 14px;
  transition: 0.3s;
}

.nav-menu li a:hover {
  color: #2ab7c5;
}

.nav-menu li.active a {
  color: #2ab7c5;
}